<% include ../header %>
	<% include ../helpers/search_form %>
	<div class="row marketing">
		<header>
			<h3>Todos os posts</h3>
		</header>
        <div class="col-lg-12">
	        <% if (posts.length) {%>
	        	<% posts.forEach(function(post, index) { %>
					<h4><%- post.title %></h4>
					<p><%- post.body %></p>
					<div class="row">
						<div class="col-lg-12">
							<p>
								<strong>Autor:</strong> Teste |
								<strong>Data: </strong><%=: post.createdAt | formatDate %> |
								<strong><%- post.comments.length %> Comentários</strong> |
								<% if (post.tags){ %>
									<strong>Tags:</strong>
									<% post.tags.split(',').forEach(function(tag) { %>
										<a href="/tags/<%-tag%>"><span class="label label-info"><%- tag %></span></a>
									<% }) %>
								<% } %>
							</p>
						</div>
						</div>
					<hr />
				<% }) %>
			<% } else { %>
				<h2>Nenhum post encontrado</h2>
			<% } %>
        </div>
      </div>

<% include ../footer %>