<% include ../header %>

	<% include ../helpers/search_form %>

	<div class="jumbotron">
		<h1>Blog de Teste</h1>
		<p class="lead">Este blog é apenas um teste, foi desenvolvido usando Node.JS, MongoDB, EJS, Twtitter Bootstrap.</p>
		<p><a class="btn btn-lg btn-success" href="/postar" role="button">Começar a postar</a></p>
	</div>

	<div class="row marketing">
        <div class="col-lg-12">
	        <% if (posts.length) {%>
	        	<% posts.forEach(function(post, index) { %>
	        		<article>
						<h4><a href="/post/<%-post._id%>"><%- post.title %></a></h4>
						<p><%- post.body %></p><br>
						<div class="row">
							<div class="col-lg-12">
								<p>
									<strong>Data: </strong><%=: post.createdAt | formatDate %> |
									<strong><%- post.comments.length %> Comentários</strong> |
									<% if (post.tags){ %>
										<strong>Tags:</strong>
										<% post.tags.split(',').forEach(function(tag) { %>
											<a href="/tags/<%-tag%>"><span class="label label-info"><%- tag %></span></a>
										<% }) %>
									<% } %>
								</p>
							</div>
						</div>
					</article>
					<div class="row">
						<hr />
					</div>
				<% }) %>
			<% }else{ %>
				<h2>Nenhum post encontrado</h2>
			<% } %>
        </div>
      </div>

<% include ../footer %>